node_modules
.env
coverage
coverage.json
typechain
typechain-types
node.json
.idea/
.vscode/
package-lock.json

# Hardhat files
cache
artifacts

# Build files
dist/

# Forge files
foundry-out/

# Apple Mac files
.DS_Store

# Fuzz
crytic-export
echidna-corpus
medusa-corpus
med-logs
slither.json
slither.sarif
solc-bin