[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/openzeppelin-contracts-4.9.3"]
	path = lib/openzeppelin-contracts-4.9.3
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/openzeppelin-contracts-upgradeable-4.9.3"]
	path = lib/openzeppelin-contracts-upgradeable-4.9.3
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "lib/immutable-seaport-1.5.0+im1.3"]
	path = lib/immutable-seaport-1.5.0+im1.3
	url = https://github.com/immutable/seaport
[submodule "lib/immutable-seaport-core-1.5.0+im1"]
	path = lib/immutable-seaport-core-1.5.0+im1
	url = https://github.com/immutable/seaport-core
[submodule "lib/openzeppelin-contracts-5.0.2"]
	path = lib/openzeppelin-contracts-5.0.2
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "lib/axelar-gmp-sdk-solidity"]
	path = lib/axelar-gmp-sdk-solidity
	url = https://github.com/axelarnetwork/axelar-gmp-sdk-solidity

[submodule "lib/immutable-seaport-core-1.6.0+im2"]
	path = lib/immutable-seaport-core-1.6.0+im2
	url = https://github.com/immutable/seaport-core

[submodule "lib/immutable-seaport-1.6.0+im4"]
	path = lib/immutable-seaport-1.6.0+im4
	url = https://github.com/immutable/seaport
