[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "passport"]
	path = passport
	url = https://github.com/immutable/wallet-contracts
[submodule "forks/seaport"]
	path = forks/seaport
	url = https://github.com/immutable/seaport
