node_modules
.env
coverage
coverage.json
typechain
typechain-types
node.json
.idea/

# Hardhat files
cache
artifacts

# Build files
dist/

# Forge files
foundry-out/
broadcast/

# Apple Mac files
.DS_Store

