# Build and config files
hardhat.config.ts
tsconfig.json
tsup.config.ts
wagmi.config.ts
foundry.toml
foundry.lock
remappings.txt
slither.config.json

# Development directories
scripts
test
perfTest
lib
audits
deploy
abi

# Documentation (available on GitHub)
*.md
!README.md
!LICENSE.md
