/clients @immutable/assets

/contracts/allowlist @immutable/assets
/contracts/token @immutable/assets

/tests/allowlist @immutable/assets
/tests/royalty-enforcement @immutable/assets
/tests/token @immutable/assets