.vscode
node_modules/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

*.js.map
build
coverage
coverage.json

config/*.env

src/gen
src/artifacts

# MAC OS custom directory attributes file.
.DS_Store

# IntelliJ IDE directory
.idea
*.iml

.env