name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  forge-test:
    name: Run Forge Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Install dependencies
        run: yarn install --frozen-lockfile --network-concurrency 2
      - name: Run tests
        run: forge test -vvv
  hardhat-test:
    name: Run Hardhat Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --frozen-lockfile --network-concurrency 2
      - name: Run Tests
        run: yarn test
  lint:
    name: Run eslint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --frozen-lockfile --network-concurrency 2
      - name: Run eslint
        run: yarn lint
  publish:
    name: Publish to NPM (dry run)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"
          registry-url: https://registry.npmjs.org/
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --frozen-lockfile --network-concurrency 2
      - name: Compile contracts
        run: yarn compile
      - name: Build dist files
        run: rm -rf dist && yarn build
      - name: Test publish
        run: npm pack --dry-run
