name: test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  forge-test:
    name: Run Forge Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Show Forge Version
        run: forge --version
      - name: Run tests and install dependancies
        run: forge test -vvv
      - name: Debug Info1
        if: '!cancelled()'
        run: pwd
  hardhat-test:
    name: Run Hardhat Tests
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --frozen-lockfile --network-concurrency 1
      - name: Run Tests
        run: yarn test
  eslint:
    name: Run eslint
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --frozen-lockfile --network-concurrency 1
      - name: Run eslint
        run: yarn run eslint
  solhint:
    name: Run solhint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: lts/*
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --frozen-lockfile --network-concurrency 1
      - name: Run solhint
        run: yarn run solhint contracts/**/*.sol
  slither:
    name: Run slither
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Install Slither
        run: sudo python3 -m pip install slither-analyzer
        # Install command now failing: sudo pip3 install slither-analyzer
      - name: Show Slither Version
        run: slither --version
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
      - name: Show Forge Version
        run: forge --version
      - name: Run slither
        run: slither --compile-force-framework forge  --foundry-out-directory foundry-out .
  readme:
    name: Check README.md is contained in each contracts directory
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Run check script
        run: sh readmecheck.sh
  dependency-review:
    runs-on: ubuntu-latest
    steps:
    - name: 'Checkout Repository'
      uses: actions/checkout@v4
    - name: Dependency Review
      uses: actions/dependency-review-action@v4
      with:
        # Possible values: "critical", "high", "moderate", "low"
        fail-on-severity: critical

        # Address https://github.com/actions/dependency-review-action/issues/456
        base-ref: ${{ github.event.pull_request.base.sha || github.event.repository.default_branch }}
        head-ref: ${{ github.event.pull_request.head.sha || github.ref }}
  publish:
    name: Publish to NPM (dry run)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version-file: ".nvmrc"
          registry-url: https://registry.npmjs.org/
          cache: 'yarn'
      - name: Install dependencies
        run: yarn install --frozen-lockfile --network-concurrency 1
      - name: Compile contracts
        run: yarn compile
      - name: Build dist files
        run: rm -rf dist && yarn build
      - name: Test publish
        run: npm pack --dry-run
